<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="ePlatform Nuget" value="http://hubdev.eplatform.com.tr/nuget/nuget" />  
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" /> 
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="Github" value="https://nuget.pkg.github.com/ePlatformComTr/index.json" />
  </packageSources>
</configuration>